<% if @recipe %>
  <h1>Comments for <%= @recipe.title%></h1>
<% else %>
  <h1>All Comments</h1>
<% end %>

<ul>
<% @comments.each do |c|%>
  <li>  <%= link_to c.user.username, user_recipes_path(c.user)%> says "<%= c.content%>" </li>
<% end %>
</ul>