<%= @comment.content%>  Posted By: <%= @comment.user.username%>  <br>

<%  @comment.user == current_user %> 
<%= link_to "Edit Comment", edit_comment_path(@comment) %>


<h4> View The Recipe Here: <%= link_to @comment.recipe.title,  recipe_path(@comment.recipe_id) %></h4>