<h3> Welcome <%= @user.username %> </h3>

Your Recipes; 
<% @user.recipes.each do |r| %>
    <li><%= link_to r.title, user_recipe_path(@user, r)%> </li>
    <% end %>
    
      

<%= link_to "Logout", logout_path, method: "delete" %> |
