<h3> Welcome <%= current_user.username %> </h3>

Your Recipes; <% @user.recipes.each do |r| %>
    <li><%= link_to r.title, recipe_path(r) %> </li>
    <% end %>
    
      

<%= link_to "Logout", logout_path, method: "delete" %> |
