<% if @recipe %>
  <h1>Ingredients for <%= @recipe.title %></h1>
<% else %>
  <h1>All Ingredients</h1>
<% end %>



<ul>
    <% @ingredients.each do |i|%>
    <li>    Ingredient Name:<%= i.name %> Quantity: <%= i.quantity%> <%= i.measurement%> </li>
      <% end %>
      </ul>



