<% if @recipe %>
  <h1>Ingredients for <%= @recipe.title %></h1>
<% else %>
  <h1>All Ingredients</h1>
<% end %>

<ul>


    <% @ingredients.each do |c|%>
        <%= c.name%>
        <%= c.quantity%> 
        <%= c.measurement%>
      <% end %>
      </ul>



