<% if @recipe %>
  <h1>Ingredients for <%= @recipe.title %></h1>
<% else %>
  <h1>All Ingredients</h1>
<% end %>



<ol>
    <% @ingredients.each do |i|%>
        <%= i.name %> <%= i.quantity%>  <%= i.measurement%> <br><br>
      <% end %>
      </or>



