<% if @recipe %>
  <h1>Ingredients for <%= @recipe.title %></h1>
<% else %>
  <h1>All Ingredients</h1>
<% end %>



<ul>
    <% @ingredients.each do |i|%>
    <li>    Ingredient: <%= i.name %> Quantity: <%= i.quantity%> Measurement: <%= i.measurement%>  </li>
      <% end %>
      </ul>






